.App {
  text-align: center;
  background-color: white;
  color: lightblue;
  font-family: sans-serif;
}

.main-heading{
  color: yellowgreen;
  font-size: 26px;
}

.underline{
  height: 0px;
  width:4rem;
  background-color: rgb(66, 104, 66);
  margin-top: 10px;
  margin-bottom: 10px;
}

